*

# Core config files
!/.gitignore
!/.env.local.example
!/eslint.config.mjs
!/.prettierrc

# Source directories
!/app
!/components
!/data
!/lib
!/baml_src

# Config files
!/bun-env.d.ts
!/bun.lock
!/bunfig.toml
!/components.json
!/next-env.d.ts
!/next.config.js
!/package.json
!/postcss.config.mjs
!/tsconfig.json




